.tile-grid {
  border-radius: 16px;
  overflow: hidden;
  width: 455px;
}
.tile-grid-row {
  height: 90px;
  border-bottom: 1px solid transparent;
}
.tile-grid-cell {
  display: inline-block;
  margin: 0;
}

.tile-grid .tile-grid-row .tile-grid-cell:last-child {
  margin-right: 0;
}
.tile-grid .tile-grid-row:last-child .tile-grid-cell {
  margin-bottom: 0;
}
