.tile {
  background-color: black;
  color: white;
  width: 48px;
  height: 48px;
  position: relative;
  font-family: sans-serif;
  font-size: 9px;
  cursor: default;
  border: 1px solid black;
  outline: 1px solid white;
  z-index: 0;
}
.tile-clickable {
  cursor: pointer;
}
.tile-clickable:hover {
  top: -2px;
  left: -2px;
  z-index: 1;
}
.tile-building {
  width: 48px;
  height: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
}
.tile-direction-button {
  width: 24px;
  height: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 18px;
  left: 12px;
}
.tile-creature-count {
  width: 12px;
  height: 12px;
  text-align: center;
  background-color: rgba(255, 0, 0, .6);
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-size: 8px;
}
.tile-people-count {
  width: 12px;
  height: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  font-size: 8px;
}
